<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="task_detail">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>
  <div class="task_end_date">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>
  <div class="task_status">
    <%= form.label :status %>
    <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
  </div>
  <div class="task_rank">
    <%= form.label :rank %>
    <%= form.select :rank, Task.ranks.keys ,{ include_blank: "選択してください" } %>
  </div>

  <% Label.all.each do |label| %>
  <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
  <%= label.name %>
  <% end %>

  <%= form.submit %>
<% end %>
