<h1>一覧</h1>
<p><%= notice %></p>

<%= form_with url: tasks_path, method: :get, local: true do |h| %>
  <%= h.text_field :search %>
  <%= h.select :status, Task.statuses.keys.to_a, {}  %>
  <%= h.submit '検索', name: nil %>
<% end %>

<table>
  <tr>
    <th>タスク名</th>
    <th>タスク詳細</th>
    <th>終了期限</th>
    <th>ステータス</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr class = "task_row">
      <td><%= task.name %></td>
      <td><%= task.detail %></td>
      <td><%= task.end_date %></td>
      <td><%= task.status %></td>
      <td><%= link_to '詳細表示', task_path(task.id) %></td>
      <td><%= link_to '編集', edit_task_path(task.id) %></td>
      <td><%= link_to '削除', task_path(task.id), method: :delete %></td>
    </tr>
    <% end %>
</table>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to 'タスクの新規作成', new_task_path %>
