<h1>詳細画面</h1>
<p>タイトル: <%= @task.name %></p>
<p>内容: <%= @task.detail %></p>
<p>終了期限: <%= @task.end_date %></p>
<p>ステータス: <%= @task.status %></p>
<p>優先度: <%= @task.rank %></p>

<p>

<%= form_with(model: @task, local: true) do |form| %>
  <% form.task_labels.each do |task_label| %>
      <%= task_label.label.title %><br>
  <% end %>
<% end %>
</p>
